.backButton {
  width: 5vw;
  height: 8vh;
  border-radius: 18px;
	border: 2px solid #fff;
  margin: auto;
  margin-top: 5vh;
  margin-left: 1vw;
  display: grid;
  justify-content: center;
  align-content: center;
  outline: 0;
  font: bold 1.8vh Verdana;
  color: #fff;
  background-color: #2492a9;
  transition-property: color, background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  cursor: pointer;
  position: fixed;
}

.backButton:hover,
.backButton:focus {
    color: #fff;
    background-color: #41e9ff;
    transform: scale(1.05);
}